{
  "plugins": [ // 插件配置
    "transform-object-rest-spread",
    "syntax-dynamic-import",
    ["transform-runtime", {
      "polyfill": true,
      "regenerator": true
    }],
    [
      "component", {
        "libraryName": "element-ui",
        "styleLibraryName": "theme-chalk"
      }
    ]
  ],
  "presets": [ // 预设配置
    [ "env", {
      "targets": {
        "browsers": [
          "> 1%",
          "last 2 versions",
          "not ie <= 8"
        ]
      }
    }]
  ]
}
